<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MSaleERP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/MSaleERP/jsp/admin/error/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/MSaleERP/jsp/admin/error/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
	      javax.servlet.ServletException
	   </exception-type>
    <location>/MSaleERP/jsp/admin/error/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/MSaleERP/jsp/admin/error/errorPage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>SaleInvoice</servlet-name>
    <servlet-class>servletStore.saleInvoice.SaleInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleInvoice</servlet-name>
    <url-pattern>/SaleInvoice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doEditPrintInvoice</servlet-name>
    <servlet-class>servletStore.saleInvoice.EditPrintInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doEditPrintInvoice</servlet-name>
    <url-pattern>/EditPrintInvoice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchBrand</servlet-name>
    <servlet-class>servletStore.common.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBrand</servlet-name>
    <url-pattern>/searchTxt.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoToIndexAction</servlet-name>
    <servlet-class>servletStore.common.GoToUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToIndexAction</servlet-name>
    <url-pattern>/GoToIndex.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoToLoginAction</servlet-name>
    <servlet-class>servletStore.common.DoLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToLoginAction</servlet-name>
    <url-pattern>/LoginAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoToLogoutAction</servlet-name>
    <servlet-class>servletStore.common.DoLogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToLogoutAction</servlet-name>
    <url-pattern>/LogoutAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doPrintInvoice</servlet-name>
    <servlet-class>servletStore.saleInvoice.PrintInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doPrintInvoice</servlet-name>
    <url-pattern>/PrintInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBrandAction</servlet-name>
    <servlet-class>servletStore.admin.settings.AddBrand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBrandAction</servlet-name>
    <url-pattern>/AddBrand.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddColor</servlet-name>
    <servlet-class>servletStore.admin.settings.AddColor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddColor</servlet-name>
    <url-pattern>/AddColor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddModel</servlet-name>
    <servlet-class>servletStore.admin.settings.addModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddModel</servlet-name>
    <url-pattern>/addModel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertDealer</servlet-name>
    <servlet-class>servletStore.admin.settings.InsertDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDealer</servlet-name>
    <url-pattern>/InsertDealer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDealer</servlet-name>
    <servlet-class>servletStore.admin.settings.DeleteDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDealer</servlet-name>
    <url-pattern>/DeleteDealer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteModel</servlet-name>
    <servlet-class>servletStore.admin.settings.DeleteModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteModel</servlet-name>
    <url-pattern>/DeleteModel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDealer</servlet-name>
    <servlet-class>servletStore.admin.settings.UpdateDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDealer</servlet-name>
    <url-pattern>/UpdateDealer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Purchase</servlet-name>
    <servlet-class>servletStore.purchase.Purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/Purchase.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chequebook</servlet-name>
    <servlet-class>servletStore.payment.InsertChequeBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chequebook</servlet-name>
    <url-pattern>/ChequeBook.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>chequeBounceCharges</param-name>
    <param-value>250</param-value>
  </context-param>
  <servlet>
    <servlet-name>chequePayment</servlet-name>
    <servlet-class>servletStore.payment.ChequePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chequePayment</servlet-name>
    <url-pattern>/ChequePayment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChequeBounce</servlet-name>
    <servlet-class>servletStore.payment.UpdateChequeBounce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeBounce</servlet-name>
    <url-pattern>/ChequeBounce.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DealersPayment</servlet-name>
    <servlet-class>servletStore.payment.DealersPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealersPayment</servlet-name>
    <url-pattern>/DealersPayment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dummy</servlet-name>
    <servlet-class>servletStore.saleInvoice.dummyInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dummy</servlet-name>
    <url-pattern>/dummyInvoice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>servletStore.report.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DummyReport</servlet-name>
    <servlet-class>servletStore.report.DummyReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyReport</servlet-name>
    <url-pattern>/DummyReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseReport</servlet-name>
    <servlet-class>servletStore.report.PurchaseReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseReport</servlet-name>
    <url-pattern>/PurchaseReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getDealerName</servlet-name>
    <servlet-class>servletStore.payment.getDealerName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDealerName</servlet-name>
    <url-pattern>/getDealerName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doExpences</servlet-name>
    <servlet-class>servletStore.expences.Expences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doExpences</servlet-name>
    <url-pattern>/Expences.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteExpences</servlet-name>
    <servlet-class>servletStore.expences.DeleteExpences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExpences</servlet-name>
    <url-pattern>/DeleteExpences.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateExpencesMaster</servlet-name>
    <servlet-class>servletStore.expences.UpdateExpencesMaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExpencesMaster</servlet-name>
    <url-pattern>/UpdateExpencesMaster.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PriceDrop</servlet-name>
    <servlet-class>servletStore.payment.PriceDrop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceDrop</servlet-name>
    <url-pattern>/PriceDrop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quickSearch</servlet-name>
    <servlet-class>servletStore.common.quickSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quickSearch</servlet-name>
    <url-pattern>/quickSearch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchCustomer</servlet-name>
    <servlet-class>servletStore.common.searchCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchCustomer</servlet-name>
    <url-pattern>/searchCustomer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpeningStock</servlet-name>
    <servlet-class>servletStore.stock.OpeningStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpeningStock</servlet-name>
    <url-pattern>/OpeningStock.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrgDetails</servlet-name>
    <servlet-class>servletStore.admin.settings.UpdateOrganisationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgDetails</servlet-name>
    <url-pattern>/OrgDetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrandwiseReport</servlet-name>
    <servlet-class>servletStore.report.BrandwiseReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandwiseReport</servlet-name>
    <url-pattern>/BrandwiseReport.do</url-pattern>
  </servlet-mapping>  
   <servlet>
    <servlet-name>InsertOrg</servlet-name>
    <servlet-class>servletStore.sadmin.InsertOrganisation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrg</servlet-name>
    <url-pattern>/InsertOrg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PriceProfit</servlet-name>
    <servlet-class>servletStore.report.PriceProfit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceProfit</servlet-name>
    <url-pattern>/PriceProfit.do</url-pattern>
  </servlet-mapping>
</web-app>